<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header cmsHeader">
                <span *ngIf="isReadOnly; else elseBlock" style="font-weight: bold;">{{content.pageName}}</span>
                <ng-template #elseBlock>
                    <input [(ngModel)]="content.pageName" type="text" maxlength="1024" class="pageNameInput" [required]="true"/>
                </ng-template>
                <div class="form-actions">
                    <button *ngIf="!isReadOnly"  mat-flat-button  flex="15" color="primary" [disabled]="!isValidToSave() || saving" (click)="saveAll()" >
                        <mat-icon>save</mat-icon>
                        <span> {{ content.id == 0 ? "Save" : "Save Changes" | localize }}</span>
                    </button>
                    <button mat-flat-button (click)="toggleReadOnly()" flex="15"  class="bg-teal" style="margin-left: 10px;">
                        <mat-icon>edit</mat-icon>
                        <span> {{ "Toggle Edit" | localize }}</span>
                    </button>
                </div>
            </div>
            
            <div class="body table-responsive cmsEditor">
                <div *ngIf="!isReadOnly; else elseViewBlock">
                    <quill-editor  [(ngModel)]="content.pageContent"
                    [bounds]="self"
                    [theme]="bubble"
                    [sanitize]="true" 
                    [readOnly]="isReadOnly"
                    [minLength] = "1"
                    [trimOnValidation]="true"
                    [required]="true"
                    (onContentChanged)="logChange($event);">
                        <div quill-editor-toolbar>
                            <span class="ql-formats">
                                <select class="ql-font">
                                  <option selected></option>
                                  <option value="serif"></option>
                                  <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                  <option value="small"></option>
                                  <option selected></option>
                                  <option value="large"></option>
                                  <option value="huge"></option>
                                </select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                              </span>
                              <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <select class="ql-align">
                                  <option selected></option>
                                  <option value="center"></option>
                                  <option value="right"></option>
                                  <option value="justify"></option>
                                </select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                              </span>
                        </div>
                      </quill-editor>
                </div>
                
                <ng-template #elseViewBlock>
                    <div>
                      <quill-view-html [content]="content.pageContent" theme="snow" ></quill-view-html>
                    </div>
                </ng-template>
             
            </div>
        </div>
    </div>
</div>
